---
layout: default
---

<div class="home">
	
  {% if site.posts.size > 0 %}
    
  {% endif %}
  
  {% include group-by-array collection=site.posts field="categories" %}
  
  {% for category in group_names %}
    {% assign posts = group_items[forloop.index0] %}
      <h2>
	    {% for category_data in site.data.categories %}
		  {% if category == category_data.slug %}
		    {{ category_data.name }}
		  {% endif %}
		{% endfor %}
	  </h2>
      <div class="post-grid">
      {% for post in posts %}
		<div class="post-grid-item">
		  <article itemscope itemtype="http://schema.org/CreativeWork">   
		    <div class="post-teaser">
				<a href="{{ post.url | relative_url }}"><img class="post-image" src="{{ post.image | escape }}" alt></a>
			</div>
            <h3>
				<a href="{{ post.url | relative_url }}">
                <span>{{ post.title | escape }}</span>
				</a>
			</h3>
          </article>		  
		</div>
      {% endfor %}
      </div>
  {% endfor %}

</div>
